<div class="wrapper-content">
    {% include "components/section1.html" %} 

    <div class="video">
        <div class="v-play">
            <div class="cli"></div>
            <p class="cli2">Click to play</p>
        </div>
    </div>

    <div class="wrapper-image">
        <div class="grid1">
            <p class="grid-text">Typing & Data Entry</p>
            <div class="kolo kolo2 kolo4"></div>
        </div>
        <div class="grid1">
            <p class="grid-text">In-house DeadEnd Development</p>
            <div class="kolo kolo3 kolo4"></div>
        </div>
        <div class="grid1 grid2">
            <img src=" http://via.placeholder.com/700x200 " alt="image1" class="im1">
        </div>
        <div class="grid1 grid2">
            <img src=" http://via.placeholder.com/700x200 " alt="image2" class="im2">
        </div>
        <div class=" grid4">
            <p class="grid-text">Contact Centre</p>
            <div class="kolo kolo2 kolo5"></div>
            <div class="handle"></div>
        </div>
        <div class="grid1">
            <p class="grid-text">MicrosOFF</p>
            <div class="kolo kolo3 kolo5"></div>
        </div>
        <div class="grid1 grid2 grid3">
            <img src=" http://via.placeholder.com/700x200 " alt="image3" class="im3">
        </div>

        <div class="grid1 grid2">
            <img src=" http://via.placeholder.com/700x200 " alt="image4" class="im4">
        </div>
    </div>




    <div class="ek">
        <img src="http://via.placeholder.com/300x300" alt="zdjecie 6" class="im-6">
        <p class="cs">"</p>
        <div class="t-ek">
            <p class="ek-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            <p class="sp">
                <span>Eliza Kulesza </span> DeadEnd Development Specialist</p>
        </div>
        <div class="pkt">
            <p></p>
            <p class="p-r"></p>
        </div>
    </div>


    <div class="title-hig">
        <p class="title-hig1">News & Highlights</p>
    </div>



    <!-- -news- -->
    {% include "components/section2.html" %} 





    <div class="wrapper-ost">
        <div class="wr_o">
            <div class="wr-oiko"></div>
            <div class="wr-p">
                <p class="p-ost">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="p-autor">@Autor: DeadEnd Development</p>
            </div>
    
        </div>
        <div class="im-ost"></div>
    </div>

    <div class="buttons">
        <div class="buttons1">
            <div class="button1">
                <p class="b1">Learn more</p>
            </div>
            <div class="button2">
                <p class="b2">Learn less</p>
            </div>
        </div>

    </div>
    <!-- <hr class="line2"> -->

</div>