<div class="wrapper-lip">
    <div class="wrapper-lip1">
        <div class="wl">
            <p class="wl-title">Lorem ipsum</p>
            <p class="lo-el">lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="wl-title">Dolor sit amet</p>
            <p class="lo-el">enim ad minim quis nostrudullamco laboris aliquip ex</p>
        </div>
        <div class="wl">
            <p class="wl-title">Consectetur</p>
            <p class="lo-el">lorem ipsum dolor sit amet, consectetur adipiscing elit enim ad minim quis nostrudullamco laboris aliquip ex
                lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="wl">
            <p class="wl-title">Adipiscing</p>
            <p class="lo-el">lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="wl-title">Lorem ipsum</p>
            <p class="lo-el">enim ad minim quis nostrudullamco laboris aliquip ex</p>
        </div>
        <div class="wl">
            <p class="wl-title">Dolor sit amet</p>
            <p class="lo-el">lorem ipsum dolor sit amet, consectetur adipiscing elit enim ad minim quis nostrudullamco laboris aliquip ex
                lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>





    </div>


    <div class="line3"></div>

    <div class="fo">
        <div class="fo1">
            <p class="cop">© 2018 DeadEnd Development . All rights reserved.</p>
        </div>
        <div class="fo2">
            <p class="cop2">Privacy policy</p>
            <p class="cop2">Site map</p>
            <p class="cop2">Contact us</p>
        </div>
    </div>


</div>