<div class="wrapper">
    <div class="line2"></div>
    <div class="gn">
        <p class="twit">Twitter</p>
        <p class="lined">Linkedin</p>
    </div>
    <div class="wrapper1">
        <div class="nav">
            <nav class="nav1">
                <div class="logo"></div>
                <div class="w-1">
                    <p class="cu">Skill Testing</p>
                    <p class="cu">Training</p>
                    <p class="cu">Create your own</p>
                    <p class="cu">About Us</p>
                    <div class="l">
                        <a href="news.html" class="link-news">
                            <div class="">
                                <p class="" id="data-news">
                                    News
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="form.html" class="link-contact">
                    <div class=" contact-us">
                        <p class="cu">Contact Us</p>

                    </div>
                </a>

            </nav>
        </div>
        <div class="lorem">
            <p class="lt1">DeadEnd Development</p>
            <p class="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="descr">
            <div class="des1">
                <p class="di1">Enter your email</p>
            </div>
            <div class="des2">
                <p class="di2">Request a demo</p>
            </div>
        </div>
    </div>

    <din class="whowe">
        <p>WHO WE WORK WITH</p>
    </din>

    <div class="h-images">
        <!-- <img src="http://via.placeholder.com/350x150" alt="" class="h-img1"> -->
        <!-- <img src="http://via.placeholder.com/350x150" alt="" class="h-img2"> -->
    </div>
    <div class="line"></div>

</div>