
    <div class="group">
        <div class="g-map">
            <div class="g-text">
                <p class="g-lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="g-lor1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
            <div class="tcl">
                <p class="tcl1">78
                    <span>Organisation
                    </span>
                </p>
                <p class="tcl1 tcl2">2,765
                    <span>Testers</span>
                </p>
                <p class="tcl1">12
                    <span>Countries</span>
                </p>
            </div>
        </div>
    </div>
