<div class="im-line">
    <div class="image-wr ">
        <img src="http://via.placeholder.com/350x150" alt="news1" class="im-line1">
        <p class="lor-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p class="lor-ips">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="ad-line"></div>
        <div class="a-d">
            <div class="w-autor">
                <p class="autor">Autor: DeadEnd Development</p>
            </div>
            <div class="w-data">
                <p class="data">Date: 18 May 2017</p>
            </div>
        </div>
    </div>
    <div class="image-wr">
        <img src="http://via.placeholder.com/350x150" alt="news1" class="im-line2">
        <p class="lor-title">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="lor-ips">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="a-d">
            <div class="ad-line"></div>
            <div class="w-autor">
                <p class="autor">Autor: DeadEnd Development</p>
            </div>
            <div class="w-data">
                <p class="data">Date: 18 May 2017</p>
            </div>
        </div>
    </div>
    <div class="image-wr">
        <img src="http://via.placeholder.com/350x150" alt="news2" class="im-line3">
        <p class="lor-title">Ut enim ad minim veniam</p>
        <p class="lor-ips">Utt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="ad-line"></div>
        <div class="a-d">
            <div class="w-autor">
                <p class="autor">Autor: DeadEnd Development</p>
            </div>
            <div class="w-data">
                <p class="data">Date: 18 May 2017</p>
            </div>
        </div>
    </div>
</div>