<nav class="nav1a">
    <p class="twit">Twitter</p>
    <p class="lined">Linkedin</p>
</nav>
<hr class="line2">
<nav class="nav2">
    <div class="logo"></div>
    <p class="cu">Skill Testing</p>
    <p class="cu">Training</p>
    <p class="cu">Create your own</p>
    <p class="cu">About Us</p>
    <div class="l">
        <a href="news.html" class="link-news">News</a>
    </div>
    <a href="form.html" class="link-contact">
        <div class=" contact-us">
            <p class="cu">Contact Us</p>
        </div>
    </a>
</nav>
<div class="lorem">
    <p class="lt1">DeadEnd Development</p>
    <p class="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="input__wrapper">
    <p>Request a demo</p>
    <input type="text" placeholder="Enter your email">
<!--         <div class="des1">
            <p class="di1">Enter your email</p>
        </div>
        <div class="des2">
            <p class="di2">Request a demo</p>
        </div>
    </div> -->
</div>
