
.wrapper-lip{
    width: 100%;

    
    .line3{
        width: 100%;
        border: 1px solid rgba(183, 183, 183, 1);
        opacity: .5;}
    .fo{
        margin-top: 36px;
        .fo1{        
            display: inline-block;
            text-align: left;
            width: 50%;
            .cop{
                display: inline-block;
                color: #B7B7B7;
                font-family: 'Poppins';
                padding-left: 5px;
            }
        }
        .fo2{        
            display: inline-block;
            text-align: right;
            width: 49%; 
            height: 100%;
            .cop2{        
                display: inline-block;
                color: #B7B7B7; 
                font-family: 'Poppins';
                padding-left: 5px;
               }
        }
     
    }
    .wrapper-lip1{
        margin-top: 10%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-column-gap: 128.15px;
    .wl{
        .wl-title{
            color: #767676;
            font-family: 'Poppins';
        font-size: 16px;}
        .lo-el{
            color: #B7B7B7;
            font-family: 'Poppins';
            font-size: 12px;
        }
    }
} 
}




