.whowe{
    position: relative;
    text-align: center;
    width: 100%;
    p{
        color: #767676;
        font-size: 12px;
        font-family: 'Poppins';
    }
    }
    
    .h-images{
        margin:  5% 0px;
    width: 100%;
    text-align: center;
        .dodane-img{
            position: relative;
            
            margin: 0px 30px;
        }
    }
    .line{

    left: 0;
    width: 99.9vw;
    border: 1px solid rgba(183, 183, 183, 1);
    opacity: .5;
    }