.wrapper__header{
    align-self: flex-start;
    margin: 0px;
    padding:0px;
    width: 100vw;
    .wrapper__header--row1{
        width: 100%;
        background-image: linear-gradient(to right,rgba(122, 33, 127, 1),rgba(0, 52, 90, 0.2));
        @import 'header1';
    }
    .wrapper__header--row2{
        width: 100%;
        @import 'header2';
    }
    
}